@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

.page-content {
  padding-top: 70px; /* 确保内容不被固定导航栏遮挡 */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* 移除了对大屏幕下的特殊限制 */
